<!DOCTYPE html>
<html>
  <head>
    <title>Failers</title>
    <%= display_meta_tags MetatagsHelper.default_meta_tags %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
  </head>

  <body class="bg-light">
    <%= render 'layouts/header' %>
    <div>
      <% if flash[:alert] %>
        <p class="alert alert-primary"><%= flash[:alert] %></p>
      <% end %>
    </div>
    <main role="main" class="container">
      <div class="row">
        <div class="<%= @hide_sidebar ? 'col-12' : 'col-8' %>">
          <%= yield %>
        </div>
        <div class="col-4" <%= 'style="display: none;"' unless @hide_sidebar %>>
          <div class="bg-white rounded box-shadow p-3 my-3">
            <h6 class="pb-1">人気のタグ</h6>
            <ul class="list-group list-group-flush">
              <% @popular_tags.each_with_index do |tag, i| %>
                <%= link_to tag_path(tag) do %>
                  <li class="list-group-item">
                    <span class="text-muted pr-2"><%= i + 1 %></span>
                    <span class="text-body"><%= tag.name %></span>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
