<!DOCTYPE html>
<html>
  <head>
    <title>Failers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <%= render 'layouts/header' %>
    <div>
      <% if flash[:alert] %>
        <p class="alert alert-primary"><%= flash[:alert] %></p>
      <% end %>
    </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-8">
          <%= yield %>
        </div>
        <div class="col-4">
          <div class="bg-white rounded box-shadow p-3 my-3">
            <h6 class="border-bottom border-gray">人気のタグ</h6>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
